<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="{{ if .IsPage }}/css/single.css{{ else }}/css/home.css{{ end }}">
    <!-- icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ .Site.BaseURL }}images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ .Site.BaseURL }}images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}images/favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.BaseURL }}images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- feed -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.BaseURL }}rss.xml">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ if gt (len .Summary) 160 }}{{ slicestr .Summary 0 160 }}{{ end }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ else }}{{ if gt (len .Summary) 160 }}{{ slicestr .Summary 0 160 }}{{ end }}{{ end }}{{ end }}">
    {{ if .IsHome }}
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}images/cover.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Site.Params.description }}" />
    <meta name="twitter:url" content="{{ .Site.BaseURL }}" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}images/cover.jpg" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "publisher": {
                "@type": "Organization",
                "name": "{{ .Site.Title }}",
                "url": "{{ .Site.BaseURL }}",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ .Site.BaseURL }}images/icon.png"
                }
            },
            "url": "{{ .Site.BaseURL }}",
            "image": {
                "@type": "ImageObject",
                "url": "{{ .Site.BaseURL }}images/icon.png",
                "width": 192,
                "height": 192
            },
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ .Site.BaseURL }}"
            },
            "description": "{{ .Site.Params.description }}"
        }
    </script>{{ else }}<link rel="canonical" href="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{with .Params.description}}{{.}}{{else}}{{if gt (len .Summary) 160}}{{slicestr .Summary 0 160}}{{end}}{{end}}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Params.image }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{with .Params.description}}{{.}}{{else}}{{if gt (len .Summary) 160}}{{slicestr .Summary 0 160}}{{end}}{{end}}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:image" content="{{ .Params.image }}" />
    <script type="application/ld+json">
        {
            "@context":"https://schema.org",
            "@type":"Article",
            "mainEntityOfPage": {
                "@type":"WebPage",
                "@id":"{{ .Site.BaseURL }}"
            },
            "headline":"{{ .Title }}" ,
            "description":"{{with .Params.description}}{{.}}{{else}}{{if gt (len .Summary) 160}}{{slicestr .Summary 0 160}}{{end}}{{end}}",
            "image":"{{ .Params.image }}",  
            "url":"{{ .Permalink }}",
            "datePublished":"{{ .Params.date }}",
            "dateModified":"{{ .Params.date }}",
            "author": {
                "@type":"Person",
                "name":"{{ .Site.Title }}"
            }
        }</script>{{ end }}
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=642d28646134c500128cea07&product=inline-share-buttons&source=platform" async="async"></script>
        <script type="text/javascript" src="/js/lozad.min.js"></script>
        <meta name="google-site-verification" content="5MW1ReK33ptoo-JNB_PsBJG-Sxr97t8cQiFj-GnQI8A" />
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-70YLHBFS5Z"></script>
        <script>
        var doNotTrack = false;
        if (!doNotTrack) {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-70YLHBFS5Z', { 'anonymize_ip': false });
        }
        </script>
</head>